<%= form_with model: @recipe, local: true do |f|%>

  <%= render 'devise/shared/error_messages', model: f.object %>

  <h2 class="input-title">料理名<span class="mandatory">（必須）</span></h2>
  <div class="field">
     <%= f.text_field :cuisine, class:"input-default" %>
  </div>

  <%= f.label :description, "料理の説明", class:"input-title" %>
  <div class="field">
    <%= f.text_area :description, class:"input-default-text" %>
  </div>

  <h2 class="input-title">食材<span class="mandatory">（必須）</span></h2>
  <div class="field">
    <%= f.text_field :foodstuff, class:"input-default" %>
  </div>

  <h2 class="input-title">料理の画像<span class="mandatory">（必須）</span></h2>
  <div class="field">
    <%= f.file_field :image, class:"input-title" %>
  </div>
  <div id="image-list"></div>
  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>