
    <div class='title-contents'>
      <h1 class="service-title">
      <% if user_signed_in? %>
        <%= link_to current_user.name, user_path(current_user.id), class: :greeting__link %>
        さん<br>
      <% end %>
      本日の献立は？
      </h1>
    </div>
<main class="main">
  <div class="inner">
    <h2 class="section-title">献立ガチャ</h2>
    <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "食材を１つ入力して下さい", class: "input-default" %>
      <%= f.submit "検索", class: "form__btn" %>
    <% end %>

    <div class='recipe-content'>
      <h2 class="section-title">レシピ一覧</h2>
      <div class='card-wrapper'>
        <% @recipes.each do |recipe| %>
          <%= render partial: "recipe", locals: {recipe: recipe} %>
        <% end %>
      </div>
    </div>
  </div>
</main>