<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規レシピ投稿</h2>

      <%= form_with model: @recipe, local: true do |f|%>

        <%= render 'devise/shared/error_messages', model: f.object %>

        <div class="field">
          <%= f.label :cuisine, "料理名" %><br />
          <%= f.text_field :cuisine %>
        </div>

        <div class="field">
          <%= f.label :description, "料理の説明" %><br />
          <%= f.text_area :description, class: :form__text %>
        </div>

        <div class="field">
          <%= f.label :foodstuff, "食材" %><br />
          <%= f.text_field :foodstuff %>
        </div>

        <div class="field">
          <%= f.label :image, "料理の画像" %><br />
          <%= f.file_field :image %>
        </div>

        <div class="actions">
          <%= f.submit "保存する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>