<main class="recipe-show">
  <div class="recipe-box">
    <h1 class="search-title">本日の献立は<br>これで決まり！</h2>
    <% @recipes.each do |recipe| %>
      <p class="cuisine">
        <%= recipe.cuisine %>
      </p>
      <%= link_to image_tag(recipe.image, class: :search__img), recipe_path(recipe.id) %>
    <% end %>
    <p class="section-title">もう一度ガチャ</p>
    <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "食材を１つ入力して下さい", class: "search_input" %>
      <%= f.submit "検索", class: "search_btn" %>
    <% end %>
  </div>
</main>