<main class="recipe-show">
  <div class="recipe-box">
    <div class="arrow">
      <% if @recipe.previous.present? %>
        <%= link_to '＜ 前へ', recipe_path(@recipe.previous), class: "btn_arrow" %>
      <% end %>
      <% if @recipe.next.present? %>
        <%= link_to '次へ ＞', recipe_path(@recipe.next), class: "btn_arrow" %>
      <% end %>
    </div>
    <p class="cuisine">
      <%= @recipe.cuisine %>
    </p>
    <% if user_signed_in? && current_user.id == @recipe.user_id %>
      <div class="btn_manage">
        <%= link_to 'レシピの編集', edit_recipe_path(@recipe.id), class: 'edit-btn' %>
        <%= link_to 'レシピの削除', recipe_path(@recipe.id), method: :delete, class:'recipe-destroy' %>
      </div>
    <% end %>
    <%= image_tag @recipe.image, class: "recipe-box-img" %>
    <div class="show_favorite">
      <div id="favorite_<%= @recipe.id%>">
        <%= render 'favorites/favorite', { recipe: @recipe } %>
      </div>
    </div>
    <table class="detail-table">
      <tr>
        <th class="detail-recipe">レシピ説明</th>
        <td class="detail-value">
          <%= @recipe.description %>
        </td>
      </tr>
      <tr>
        <th class="detail-recipe">食材</th>
        <td class="detail-value">
          <%= @recipe.foodstuff %>
        </td>
      </tr>
      <tr>
        <th class="detail-recipe">料理人</th>
        <td class="detail-value">
          <%= link_to @recipe.user.name, user_path(@recipe.user_id), class: :recipe__user %>
        </td>
      </tr>
    </table>
    <div class="container">
      <p class="detail_title">コメント一覧</p>
      <ul>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <li class="comment__list">
              <p class="comment__text"><%= comment.text %></p>
              <div class="comment__option">
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <%= link_to '削除', "/recipes/#{@recipe.id}/comments/#{comment.id}", method: :delete, class: :comment__destroy %>
                <% end %>
                <%= link_to "by #{comment.user.name}", user_path(comment.user_id), class: :comment__user %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="comment_section">
        <% if current_user %>
          <%= form_with(model: [@recipe , @comment], local: true) do |f| %>
            <div class="field">
              <%= f.text_area :text, placeholder:"不適切な文言は控えて下さい", class: "comment_input" %>
              <div class="btn">
                <%= f.submit "投稿", class: :comment_btn %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>