<main class="recipe-show">
  <div class="recipe-box">
    <p class="cuisine">
      <%= @recipe.cuisine %>
    </p>
    <div class='recipe-img-content'>
      <%= image_tag @recipe.image, class: "recipe-box-img" %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @recipe.user_id %>
        <%= link_to 'レシピの編集', edit_recipe_path, class: "edit-btn" %>
        <p class='or-text'>or</p>
        <%= link_to 'レシピの削除', recipe_path, method: :delete, class:'recipe-destroy' %>
      <% end %>
    <% end %>

    <div class="recipe__body">
      <div class="recipe__detail">
        <p class="detail__title">レシピ説明</p>
        <p class="detail__message">
          <%= @recipe.description %>
        </p>
      </div>
      <div class="recipe__detail">
        <p class="detail__title">食材</p>
        <p class="detail__message">
          <%= @recipe.foodstuff %>
        </p>
      </div>
      <div class="recipe__detail">
        <p class="detail__title">料理人</p>
        <p class="detail__message">
          <%= link_to @recipe.user.name, user_path(@recipe.user_id), class: :recipe__user %>
        </p>
      </div>
    </div>
    <div class="container">
    <% if current_user %>
      <%= form_with(model: [@recipe , @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% end %>
    <div class="comments">
      <p class="detail__title">コメント一覧</p>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <%= comment.text %>
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <%= link_to '削除', "/recipes/#{@recipe.id}/comments/#{comment.id}", method: :delete, class: :comment__destroy %>
            <% end %>
            <%= link_to "by#{comment.user.name}", user_path(comment.user_id), class: :comment__user %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</main>