<main class="recipe-show">
  <div class="recipe-box">
    <div class="arrow">
      <% if @recipe.previous.present? %>
        <%= link_to '＜ 前へ', recipe_path(@recipe.previous), class: "btn_arrow" %>
      <% end %>
      <% if @recipe.next.present? %>
        <%= link_to '次へ ＞', recipe_path(@recipe.next), class: "btn_arrow" %>
      <% end %>
    </div>
    <p class="cuisine">
      <%= @recipe.cuisine %>
    </p>
    <% if user_signed_in? && current_user.id == @recipe.user_id %>
      <div class="btn_manage">
        <%= link_to 'レシピの編集', edit_recipe_path(@recipe.id), class: 'edit-btn' %>
        <%= link_to 'レシピの削除', recipe_path(@recipe.id), method: :delete, class:'recipe-destroy' %>
      </div>
    <% end %>
    <div class='recipe-img-content'>
      <%= image_tag @recipe.image, class: "recipe-box-img" %>
    </div>
    <div class="show_favorite">
      <div id="favorite_<%= @recipe.id%>">
        <%= render 'favorites/favorite', { recipe: @recipe } %>
      </div>
    </div>
    <table class="detail-table">
      <tr>
        <th class="detail-recipe">レシピ説明</th>
        <td class="detail-value">
          <%= @recipe.description %>
        </td>
      </tr>
      <tr>
        <th class="detail-recipe">食材</th>
        <td class="detail-value">
          <%= @recipe.foodstuff %>
        </td>
      </tr>
      <tr>
        <th class="detail-recipe">料理人</th>
        <td class="detail-value">
          <%= link_to @recipe.user.name, user_path(@recipe.user_id), class: :recipe__user %>
        </td>
      </tr>
    </table>
    <div class="container">
      <div class="recipe__comments">
      <% if current_user %>
        <%= form_with(model: [@recipe , @comment], local: true) do |f| %>
          <div class="field">
            <%= f.label :text, "コメント", class: :detail__title %><br>
            <%= f.text_field :text, placeholder:"不適切な文言は控えて下さい", class: "input-default" %>
            <%= f.submit "送信", class: :comment__btn  %>
          </div>
        <% end %>
      <% end %>
      <p class="detail__title">コメント一覧</p>
      <ul>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <li class="comment__list">
              <p><%= comment.text %></p>
              <div class="comment__option">
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <%= link_to '削除', "/recipes/#{@recipe.id}/comments/#{comment.id}", method: :delete, class: :comment__destroy %>
                <% end %>
                <%= link_to "by #{comment.user.name}", user_path(comment.user_id), class: :comment__user %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</main>